In [1]:
import pandas as pd
import matplotlib.pyplot

In [11]:
covid_19_df = pd.read_csv('C:/Users/anirudhya n/Documents/Python Scripts/Data_Analysis/Covid_Cases_Data_Analysis_Practise/WHO-COVID-19-global-data.csv')
covid_19_df.head(5)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [23]:
covid_19_df.head(7)

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,Afghanistan,0,0,0,0
1,2020-01-04,Afghanistan,0,0,0,0
2,2020-01-05,Afghanistan,0,0,0,0
3,2020-01-06,Afghanistan,0,0,0,0
4,2020-01-07,Afghanistan,0,0,0,0
5,2020-01-08,Afghanistan,0,0,0,0
6,2020-01-09,Afghanistan,0,0,0,0

In [13]:
covid_19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210930 entries, 0 to 210929
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      210930 non-null  object
 1   Country_code       210040 non-null  object
 2   Country            210930 non-null  object
 3   WHO_region         210930 non-null  object
 4   New_cases          210930 non-null  int64
 5   Cumulative_cases   210930 non-null  int64
 6   New_deaths         210930 non-null  int64
 7   Cumulative_deaths  210930 non-null  int64
dtypes: int64(4), object(4)
memory usage: 12.9+ MB

In [14]:
covid_19_df.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  2.109300e+05      2.109300e+05  210930.000000       2.109300e+05
mean   2.523118e+03      6.965494e+05      29.893130       1.244449e+04
std    1.645002e+04      3.621609e+06     160.286627       5.725433e+04
min   -3.295200e+04      0.000000e+00   -2439.000000       0.000000e+00
25%    0.000000e+00      2.730000e+02       0.000000       3.000000e+00
50%    2.300000e+01      1.313700e+04       0.000000       1.660000e+02
75%    4.920000e+02      1.859355e+05       6.000000       3.014000e+03
max    1.255114e+06      8.429271e+07   11447.000000       1.000850e+06

In [15]:
covid_19_df.drop(["Country_code","WHO_region"],inplace=True,axis=1)
covid_19_df.head()

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,Afghanistan,0,0,0,0
1,2020-01-04,Afghanistan,0,0,0,0
2,2020-01-05,Afghanistan,0,0,0,0
3,2020-01-06,Afghanistan,0,0,0,0
4,2020-01-07,Afghanistan,0,0,0,0

In [26]:
covid_19_df["Date_reported"]  = pd.to_datetime(covid_19_df["Date_reported"],format='%Y::%m::%d')
covid_19_df.head()

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,Afghanistan,0,0,0,0
1,2020-01-04,Afghanistan,0,0,0,0
2,2020-01-05,Afghanistan,0,0,0,0
3,2020-01-06,Afghanistan,0,0,0,0
4,2020-01-07,Afghanistan,0,0,0,0

In [ ]:
# Number_of_active_cases
covid_19_df['active_cases'] = covid_19_df['Cumulative_cases']-(covid)

In [28]:
covid_19_df1 = pd.read_csv('C:/Users/anirudhya n/Documents/Python Scripts/Data_Analysis/Covid_Cases_Data_Analysis_Practise/WHO-COVID-19-global-table-data.csv')
covid_19_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 238 entries, Global to Turkmenistan
Data columns (total 12 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Name                                                          237 non-null    object
 1   WHO Region                                                    238 non-null    int64
 2   Cases - cumulative total                                      237 non-null    float64
 3   Cases - cumulative total per 100000 population                238 non-null    int64
 4   Cases - newly reported in last 7 days                         237 non-null    float64
 5   Cases - newly reported in last 7 days per 100000 population   238 non-null    int64
 6   Cases - newly reported in last 24 hours                       238 non-null    int64
 7   Deaths - cumulative total                                     237 non-null    float64
 8   Deaths - cumulative total per 100000 population               238 non-null    int64
 9   Deaths - newly reported in last 7 days                        237 non-null    float64
 10  Deaths - newly reported in last 7 days per 100000 population  238 non-null    int64
 11  Deaths - newly reported in last 24 hours                      0 non-null      float64
dtypes: float64(5), int64(6), object(1)
memory usage: 24.2+ KB